* {
    box-sizing: border-box;
}
body {
    padding: 0;
    margin: 0;
    background: rgb(169, 165, 165);
    display: flex;
    justify-content: center;
    align-content: center;
}
.calc-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    align-items: center;
    min-height: 90vh;
    width: 450px;
    margin: 20px 0px 0px 0px;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
    background-color: black;
    border-radius: 5%;
}
.calc-grid > button {
    cursor: pointer;
    font-size: 2rem;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: black;
}
.calc-grid > .dark:hover, .orange:hover {
    background-color: rgb(244, 247, 247);
    color: rgb(86, 79, 79);
}
.calc-grid > .light:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(106, 98, 98); 
    border: 2px solid rgb(255, 255, 255);
    color: black;
    
}
.dark, .orange {
    color: white;
}
.dark {
    background-color: rgb(86, 79, 79);
}
.orange {
    background-color: rgb(225, 161, 65);
}
.output {
    grid-column: 1 / -1;
    padding: 0 40px;
    font-size: 2rem;
    color:  rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    word-wrap: break-word; 
    word-break: break-all; 

}
#previous {
    color:rgb(180, 169, 169);
    font-size: 1.5rem;
}
#oblong {
    width: 185px;
    height: 85px;
    grid-column: span 2;
    align-self: right;
    border-radius: 40px;
}
#del {
    font-size: 1.5rem;
}